body {
  font-family: Cambria;
  color: 
}
table{
	margin-top: 200px;
	border:1px solid black;
	padding-top: 20px;
	padding-left: 20px;
	padding-right: 20px;
	padding-bottom: 20px;
	box-shadow: 5px 10px 18px #888888;

}
td{
	padding-top: 5px;
	padding-bottom: 5px;
}
td.title{
	text-align: center;
}
td.regSuccess{
	visibility: hidden;
}